supar
openai
sentencepiece
torch
wandb
nltk==3.6.2
numpy==1.21.1
openai==0.11.0
scikit_learn==1.0.2
scipy==1.7.0
supar==1.1.2
tqdm==4.62.3
transformers==4.17.0
sentencepiece
Pillow
ftfy
regex
flake8==3.7.9
yapf==0.29.0
isort==4.3.21
yacs
gdown
tb-nightly
future
wilds==1.2.2
tabulate
